//images, font path
$pre-font-path: '@/assets/fonts/pretendard';
$roboto-font-path: '@/assets/fonts/roboto';

//font
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 600;


//디자인에서 제플린에 공통으로 뽑아주는 컬러차트를 변수에 담아 사용하는 편입니다.

//common color
$white: #fff;
$black: #000;

//font color
$fontGray1 : #c6cad2;
$fontGray2 : #edeff2;
$fontGray3 : #a7acb9;
$fontNavy1 : #24272d;

//bg color
$bgBlack1 : #151619;
$bgGray1: #30333b;
$bgDarkgray: #202227;
$bgBlue:#3384ff;

//line color
$line1 : #f9fafb;